<div class="flyntComponent" is="flynt-block-covid-risk-calculator">
  <div class="container">
<iframe data-id="covid-risk-calculator-iframe" src="https://widget.chip.de/covidriskcalculator" width="100%" style="border: none;" height="1085"></iframe>  </div>
</div>
