[is='flynt-block-boxes'] {
  width: 100%;

  @media (min-width: $breakpoint-desktop) {
    width: 50%;
  }

  .items {
    @include reset-list;
    display: flex;
    flex-flow: row wrap;
  }

  .item {
    align-items: flex-start;
    border-bottom: 1px solid $black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-height: 300px;
    padding: $container-padding-mobile;
    width: 100%;
    

    @media (min-width: $breakpoint-desktop) {
      flex-flow: column wrap;
      width: 50%;
    }

    &-icon {
      height: auto;
      margin-bottom: $container-padding-mobile*2;
      width: 45px;

      @media (min-width: $breakpoint-desktop) {
        margin-bottom: 0;
      }
    }

    &-description {
      p {
        margin-block-end: 0;
        margin-bottom: 0;
      }
      
      p:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }

  .item:nth-child(odd) {
    border-right: 0;
    
    @media (min-width: $breakpoint-desktop) {
      border-right: 1px solid $black;
    }
  }
}
