[is='flynt-block-blank-space'] {
  $navigation-height: 75px;
  display: none;
  min-height: calc(100vh - #{$navigation-height});
  width: 100%;

  @media (min-width: $breakpoint-desktop) {
    display: block;
    min-height: calc(100vh - #{$navigation-height});
    width: 50%;
  }
}
