<div class="hamburger-container">
  <button class="hamburger" type="button" data-toggle-menu aria-expanded="false" aria-controls="navigationBurger-menu">
    <span class="visuallyHidden">{{ __("Toggle Menu", "flynt") }}</span>
    <span class="hamburger-barText">MENÜ</span>
    <span class="hamburger-barTextClose">MENÜ SCHLIESSEN</span>
  </button>
</div>
