.menu {
  @include reset-list;
  backface-visibility: hidden;
  background-color: $black;
  height: min-content;
  left: 0;
  margin: 0 auto;
  overflow-y: auto;
  // padding-bottom: 30px;
  // padding-top: 30px;
  position: fixed;
  right: 0;
  top: $navigation-height;
  transform: translateY(-100%);
  transition: transform 0.45s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.45s;
  visibility: hidden;
  width: 100%;
  z-index: 98;

  @media (min-width: $breakpoint-desktop) {
    left: auto;
    right: 0;
    width: 50%;
  }

  .admin-bar & {
    top: $navigation-height + 46px;

    @media (min-width: 783px) {
      top: $navigation-height + 32px;
    }
  }

  &-item--current {
    .menu-link {
      color: $color-accent;
    }
  }

  &-item {
    border-top: 1px solid $white;

    .menu-link {
      align-items: center;
      color: $white;
      display: flex;
      font-family: 'MonumentGroteskMono', Helvetica, Arial, sans-serif;
      font-size: 1rem;
      font-weight: 400;
      height: 65px;
      justify-content: flex-start;
      letter-spacing: 0;
      padding: 12px $container-padding-mobile;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.2s ease-out;

      &:hover {
        color: $color-accent;
      }

      @media (min-width: $breakpoint-tablet) {
        padding-left: $container-padding-tablet;
        padding-right: $container-padding-tablet;
      }

      @media (max-width: $breakpoint-mobile-horizontal) {
        height: 50px;
      }
    }
  }

  &-item:nth-last-child(3) {
    border-top: 1px solid $white;

    .menu-link {
      align-items: center;
      color: $white;
      display: flex;
      font-family: 'Tungsten', Helvetica, Arial, sans-serif;
      font-size: 2.25rem;
      font-weight: 400;
      height: 65px;
      justify-content: flex-start;
      letter-spacing: 1px;
      line-height: 1.175;
      padding: 12px $container-padding-mobile;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.2s ease-out;

      &:hover {
        color: $color-accent;
      }

      @media (min-width: $breakpoint-tablet) {
        font-size: 3.125rem;
        line-height: 0.8;
        padding-left: $container-padding-tablet;
        padding-right: $container-padding-tablet;
      }
    }
  }

  &-item:nth-last-child(2) {
    pointer-events: none;
  }

  &-item:nth-last-child(1) {
    pointer-events: none;

    .menu-link {
      @media (max-width: $breakpoint-mobile-horizontal) {
        font-size: 0.7rem;
      }
    }
  }
}

&.flyntComponent-menuIsOpen .menu {
  margin: 0;
  // max-width: $breakpoint-mobile-horizontal;
  transform: translateY(0);
  visibility: visible;
}
